<ion-header translucent="true">
	<ion-toolbar color="secondary">
		<ion-title class="thai-word">แบบฝึกหัด - {{ title }}</ion-title>     
	</ion-toolbar>
  </ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
        <img class="score-icon" src="assets/icon/คะแนน.png" alt="icon/Score">
        <div class="score-txt">
          <label>26</label>
        </div>
        <div class="tool">
          <img src="assets/icon/ตัวช่วย.png">
          <img src="assets/icon/หยุด.png">
          <label class="timer">1.46 นาที</label>
        </div>
    </ion-row>
    <ion-row class="card-img" justify-content-center>
      <img src="assets/img/tongue0-4.png">
    </ion-row>
    <div class="level-tab level-0">
      ระดับ 0 สุขภาพดี
    </div>
    <div class="level-tab level-1">
      ระดับ 1 เริ่มมีปัญหาแล้วนะ
    </div>
    <div class="level-tab level-2">
      ระดับ 2 ไปหาหมอด่วน
     </div>

  </ion-grid>

</ion-content>
