
<ion-header>
	<ion-title>
	  บทเรียน - ลิ้น
	</ion-title>
  </ion-header>
  
  <ion-content>
  
  <ion-grid>
	<ion-row class="card">
  
	  <ion-col  class="col-1" size="4">
		<ion-row justify-content-center>
		  <ion-button class="icon-btn" shape="round" color="secondary">
			<img src="assets/icon/ลิ้น.png">
		  </ion-button>
		</ion-row>
		<ion-row class="status label-bor" justify-content-center>
		  ไม่เคยเรียน
		</ion-row>       
		<ion-row justify-content-center>
		  <img class="level" src="assets/icon/ระดับ0.png">
		</ion-row> 
	  </ion-col>
	  <ion-col  class="col-2">
		
		<ion-row class="label-bor" justify-content-center>
		  เวลาในการเรียน: 12 นาที
		</ion-row>   
		<ion-row class="label-bor" justify-content-center>
		  สะสมแต้มระหว่างเรียน: 2 ครั้ง
		</ion-row>    
		
	  </ion-col>
  
	</ion-row>
  </ion-grid>

  	<div class="lesson-review">
	  ผู้เรียนจะได้เรียนรู้ลักษณะของลิ้น 3 ระดับ และการประเมินเส้นเลือดขอดใต้ลิ้น ซึ่งเป็นจุดที่มีความกำกวมที่สุดในบทเรียนนี้
  	</div>
  	<h4 class="level-h">ระดับความผิดปกติมี 3 ระดับ ดังนี้</h4>
  	<div class="level-tab level-0">
		ระดับ 0 สุขภาพดี
	</div>
	<div class="level-tab level-1">
		ระดับ 1 เริ่มมีปัญหาแล้วนะ
	</div>
	<div class="level-tab level-2">
		ระดับ 2 ไปหาหมอด่วน
	 </div>
        <div class="start-btn">
          <ion-button (click) ="start()" class="box-shadow" type="submit" expand="block">เริ่มเรียนเลย</ion-button>
		</div>
  
  </ion-content>


