<ion-header translucent="true">
	<ion-toolbar color="secondary">
		<ion-back-button text=""  slot="start" color="tertiary"></ion-back-button>
		<ion-title class="thai-word">คัดกรอง</ion-title>     
	</ion-toolbar>
  </ion-header>
<ion-content>
  <ion-grid padding>
    <ion-row>
      <b class="header-page">การเก็บภาพถ่ายช่องปาก</b>
    </ion-row>
    <ion-row justify-content-center>
        <ion-button (click)="addImg()" class="icon-btn" fill="clear" color="secondary">
          <img src="assets/icon/กล้อง.png">
        </ion-button>
    </ion-row>
    <p class="txt-right">กดเพื่อถ่ายรูปช่องปาก</p>
    <div class="posi-btm">
      <img class="tips-img" src="assets/icon/logowithshadow.png">
      <div class="tips-box">
        <p class="tips">ควรคำนึงถึงลักษณะความผิดปกติ 7 อย่าง ได้แก่ ริมฝีปาก ลิ้น เหงือก ฟันธรรมชาติ น้ำลาย ฟันเทียม และความสะอาด</p>
      </div>
    </div>   
  </ion-grid>
  
</ion-content>
