<ion-header translucent="true">
	<ion-toolbar color="secondary">
		<ion-back-button text=""  slot="start" color="tertiary"></ion-back-button>
		<ion-title class="thai-word">คัดกรอง</ion-title>     
	</ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid padding>
    <ion-row justify-content-center>1/8</ion-row>
    <ion-row>
        <label class="title">ริมฝีปาก</label>
        <label class="case-info">ชื่อผู้รับคัดกรอง, 57 ปี</label>
    </ion-row>
    <ion-row class="card-img" justify-content-center>
      <img src="assets/img/tongue0-4.png">
    </ion-row>
    <ion-row>
      <ion-col class="status-msg"></ion-col>
      <ion-col class="col-helper">
        <ion-button (click)="getHelp()" class="icon-btn" fill="clear" color="secondary">
          <ion-label>ใช้ตัวช่วย</ion-label>
          <img src="assets/icon/ตัวช่วย.png">
        </ion-button>
      </ion-col>      
    </ion-row>
    
     <ion-row>
      <ion-list class="hidden-list-bg" lines="none">
        <ion-radio-group radio-group [(ngModel)]="meeting" name = "meeting">
          <ion-item class="group-radio level-0">
            <ion-label class="thai-word">ระดับ 0 ชุ่มชื้น เรียบ ชมพู</ion-label>
            <ion-radio value="0" slot="start"></ion-radio>
          </ion-item>
          <ion-item class="group-radio level-1">
            <ion-label class="thai-word">ระดับ 1 แห้งแตก มีสีแดงที่มุมปาก</ion-label>
            <ion-radio value="1" slot="start"></ion-radio>
          </ion-item>
          <ion-item class="group-radio level-2">
            <ion-label class="thai-word">ระดับ 2 บวม มีก้อน เลือดออก เป็นแผล</ion-label>
            <ion-radio value="2" slot="start"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-row>
     <ion-row>
      <ion-col><ion-button disabled color="warning" class="render-button" (click)="prevPage()" type="submit" expand="block">ย้อนกลับ</ion-button>       </ion-col>
      <ion-col><ion-button class="render-button" (click)="nextPage()" type="submit" expand="block">ต่อไป</ion-button>       </ion-col>
     </ion-row>
  </ion-grid>

</ion-content>
