*, .thai-word{
    font-family: 'Sarabun', sans-serif;
    color: #496AA8;
}

ion-content{
    --background: url('src/assets/img/login_bg.png') no-repeat center/cover fixed;
}
ion-title{
    text-align: left;
    color:  #496AA8;
}
.home-btn{
    height: 24px;
    width: 18px;
}

.case-info{
    position: absolute;
    right: 16px;
    margin-top: 14px;
    font-size: 16px;
    font-weight: bolder;
}
.card-img{
    clear: both;
    margin-top: 15px;
    box-shadow: 0px 3px 1px #00000040;
    border-radius: 10%;
    border: solid 2px #4BA4E8;
    background: linear-gradient(180deg, #4BA4E8 70%, white 60%);
    margin-bottom: 0px;
}
.display{
    margin-top: 15px;
    border-radius: 10px;
    width: 90%;
    border: solid 2px white;
}
ion-item {
    --background: transparent;
    border-radius: 10px;
    --background-activated: wheat;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: larger;
    color: #061E4C;
    width: 100%;
    box-shadow: 0px 3px 1px #00000040;
}
ion-list{
    border-radius: 10px;  
    margin-bottom: 0px;  
}
.hidden-list-bg{
    background-color: transparent;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
ion-radio{
    --color: white;
    background-color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin-top: 0px;
}
.level-0{
    background-color: #17F6AD;    
}
.level-1{
    background-color: #FEA54C;
}
.level-2{
    background-color: #FD7878;
}
.title{
    font-size: x-large;
    font-weight: bolder;
    margin-top: 5px;
}
.render-button{
    box-shadow: 0px 3px 5px #00000040;
    border-radius: 10px;
    color: white;
    margin-top: 15px;
}
.prev{
    background-color: #F8CD0C;
}
ion-radio{
    --color: white;
    margin-bottom: -5px;
}
.icon-btn img{
    margin: 0px;
    padding: 0px;
    background-color: white;
    height: 48px;
    width: 48px;
}
.icon-btn{
    height: 48px;
    border: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 70px;
}
.font-xs{
    font-size: small;
    margin-top: 15px;
    margin-left: 20px;
}
.page{
    margin-right: 15px;
}