*{
    font-family: 'Sarabun', sans-serif;
    color: #496AA8;
}
ion-content{
    --background: url('src/assets/img/login_bg.png') no-repeat center/cover fixed;
}
ion-title{
    text-align: left;
    color: #496AA8;
}
.home-btn{
    width: 26px;
}
.txt-right{
    text-align: right;
}

.case-card{
    background-color: rgb(191, 226, 253);
    border-radius: 10px;
    padding-left: 5px;
    box-shadow: 0px 3px 3px wheat;
}
.case-card ion-row{
    margin-top: 10px;
}

.font-xs{
    font-size: x-small;
}
.level-0{
    background-color: #17F6AD;
}
.level-1{
    background-color: #FEA54C;
}
.level-2{
    background-color: #FD7878;
}

ion-progress-bar{
    --progress-background: #4BA4E8;// #496AA8;
    --buffer-background: repeating-linear-gradient(145deg, rgb(191, 226, 253), white 5%, rgb(209, 235, 255) 5%);// rgb(176, 212, 240);
    height: 10px;
    border-radius: 10px;
}
ion-list{
    background-color: transparent;
}
.user{
    padding: 2%;
}
.row-user{
    border-radius: 10px 10px 0px 0px;
    // background: linear-gradient(0deg, transparent 60%,#B4DCEE 90%);
}
.row-user p{
    color: #496AA8;
}
.task{
    float: right;
    margin-top: -17%;
    margin-right: 5%; 
    color: white;
    width: 60%; 
}
.diff{
    margin-top: -5px;
    margin-bottom: 10px;
    font-size: small;
}
table{
    width: 100%;
    margin: 10px;
    border-collapse: separate;
    border-spacing: 15px;
}
th{
    padding: 10px;
    text-align: center;
}
td{
    // border: solid 1px #4BA4E8;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
}
.exp{
    font-size: large;
    animation: mymove 1s infinite;
}
@keyframes mymove {
    50% {
        color: yellowgreen;
        font-weight: bolder;
    }
}