<ion-header translucent="true">
  <ion-toolbar color="secondary">   
    <!-- <ion-buttons collapse="true" slot="start"> -->
    <ion-buttons slot="start">
      <ion-button> <img class="home-btn" src="assets/icon/แบบทดสอบ.png" alt="icon/howto"></ion-button>
    </ion-buttons> 
    <ion-title class="thai-word">แบบทดสอบ</ion-title>               
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="case-card" padding>
    <ion-button expand="block" class="do-exam"><img src="assets/icon/แบบทดสอบ.png" alt="icon/howto"> <label>ทำแบบทดสอบ</label> </ion-button>  
    <b><br>ประวัติการทำแบบทดสอบ</b>
    <p class="txt-right">ข้อมูลตั้งแต่ 23/09/2562 - วันนี้</p>
    <ion-row>
      <ion-col>
          <p class="case-id">กรณี 255961 <label class="txt-right">12/12/2562</label></p>
          <p class="case-detail">หญิง, 52ปี <label class="txt-right"> 82 คะแนน</label></p>
          <ion-row>
            <ion-col>
              <img src="assets/img/tongue0-4.png">
            </ion-col>
            <ion-col>
              <img src="assets/img/tongue0-4.png">
            </ion-col>
            <ion-col>
              <img src="assets/img/tongue0-4.png">
            </ion-col>
          </ion-row>
      </ion-col>

      

    </ion-row>
    
  </ion-grid>

</ion-content>