<ion-header translucent="true">
  <ion-toolbar color="secondary">   
    <ion-menu-button color="tertiary" slot="start" autoHide="false"></ion-menu-button>          
    <ion-title class="thai-word">แบบทดสอบ</ion-title>     
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid padding>
    <ion-row class="row-user">
      <ion-col size="4">
        <img class="user" src="assets/icon/user0.png">
      </ion-col>
      <ion-col><br>
        <p>ระดับ: มือใหม่</p>
        <p>ประสบการณ์: <label class="exp" >{{ user_exp }}%</label></p>
      </ion-col>
    </ion-row> 
    <ion-progress-bar [value]=exp_prog reversed="false"></ion-progress-bar><br> 
    <img src="assets/icon/ด่าน1.png">
    <ion-button  class="task" (click)="startEasyExam()">ทำอีกครั้ง</ion-button> 
    <ion-row class="diff">ระดับ: ง่าย</ion-row>

    <img src="assets/icon/ด่าน2.png">
    <ion-button  class="task" (click)="startExam()">ทำแบบทดสอบ 2</ion-button> 
    <ion-row class="diff">ระดับ: ปานกลาง</ion-row>

    <img src="assets/icon/ด่าน3.png">
    <ion-button disabled class="task">ทำแบบทดสอบ 3</ion-button> 
    <ion-row class="diff">ระดับ: ยาก</ion-row>

    <b><br>ประวัติการทำแบบทดสอบ</b>
    <p class="txt-right font-xs">ข้อมูลตั้งแต่ 23/09/2562 - วันนี้</p>
    <ion-row class="case-card">
      <table>
        <tr>
          <th>ครั้ง</th>
          <th>ระดับ</th> 
          <th>ค่าประสบการณ์</th>
        </tr>
        <tr>
          <td>1</td>
          <td>ง่าย(ลิ้น)</td>
          <td class="exp">+10%</td>
        </tr>
        <tr>
          <td>2</td>
          <td>ง่าย(เหงือก)</td>
          <td class="exp">+5%</td>
        </tr>
        <tr>
          <td>3</td>
          <td>ง่าย(น้ำลาย)</td>
          <td class="exp">+6.67%</td>
        </tr>
      </table>
    </ion-row>
    
  </ion-grid>

</ion-content>