<ion-header translucent="true">
  <ion-toolbar color="secondary">   
    <ion-menu-button color="tertiary" slot="start" autoHide="false"></ion-menu-button>          
    <ion-title class="thai-word">แบบทดสอบ</ion-title>     
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid padding>
    <ion-row class="row-user">
      <ion-col size="4">
        <img *ngIf="user_level === 'มือใหม่'" class="user" src="assets/icon/user0.png">
        <img *ngIf="user_level === 'มือฝึกหัด'" class="user" src="assets/icon/user1.png">
        <img *ngIf="user_level === 'ผู้เชี่ยวชาญ'" class="user" src="assets/icon/user2.png">
      </ion-col>
      <ion-col><br>
        <p>ระดับ: {{ user_level }}</p>
        <p>ประสบการณ์: <label class="exp" >{{ user_exp }}%</label></p>
      </ion-col>
    </ion-row> 
    <ion-progress-bar [value]=exp_prog reversed="false"></ion-progress-bar><br> 
    <img src="assets/icon/ด่าน1.png">
    <ion-button  class="task" (click)="startEasyExam()">ทำแบบทดสอบ 1</ion-button> 
    <ion-row class="diff">ระดับ: ง่าย</ion-row>

    <img src="assets/icon/ด่าน2.png">
    <ion-button  *ngIf="exam1_prog === 1; else disable2"class="task" (click)="startMediumExam()">ทำแบบทดสอบ 2</ion-button>
    <ng-template #disable2>
      <ion-button  disabled class="task" (click)="startMediumExam()">ทำแบบทดสอบ 2</ion-button>
    </ng-template>
    <ion-row class="diff">ระดับ: ปานกลาง</ion-row>

    <img src="assets/icon/ด่าน3.png">
    <ion-button  *ngIf="exam2_prog === 1; else disable3"class="task" (click)="startHardExam()">ทำแบบทดสอบ 3</ion-button>
    <ng-template #disable3>
      <ion-button  disabled class="task" (click)="startHardExam()">ทำแบบทดสอบ 3</ion-button>
    </ng-template>
    <ion-row class="diff">ระดับ: ยาก</ion-row>

    <b><br>ประวัติการทำแบบทดสอบ</b>
    <p class="txt-right font-xs">ข้อมูลตั้งแต่ 23/09/2562 - วันนี้</p>
    <ion-row class="case-card">
      <table>
        <tr>
          <th>ครั้ง</th>
          <th>ระดับ</th> 
          <th>ค่าประสบการณ์</th>
        </tr>
        <tr *ngFor="let x of item">
          <td></td>
          <td>{{ x.level }}</td>
          <td class="exp" *ngIf="x.exam_exp > 0; else negative" >+{{ x.exam_exp }}%</td>
          <ng-template #negative>
            <td class="exp">{{ x.exam_exp }}%</td>
          </ng-template>
        </tr>
      </table>
    </ion-row>
    
  </ion-grid>

</ion-content>