<ion-header translucent="true">
  <ion-toolbar color="secondary">   
    <!-- <ion-buttons collapse="true" slot="start"> -->
    <ion-buttons slot="end">
      <ion-button> <img class="home-btn" src="assets/icon/วิธีใช้.png" alt="icon/howto"></ion-button>
    </ion-buttons> 
    <ion-title class="thai-word">แบบทดสอบ</ion-title>               
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid padding>
    <ion-row justify-content-center>8/8</ion-row>
    <ion-row>
        <label class="timer">1.46 <label class="min">นาที</label></label>
        <img class="stop-button" src="assets/icon/หยุด.png">
        <label class="case-info">ชาย, 57 ปี</label>
    </ion-row>
    <ion-row justify-content-center >
        <img class="slide s-left"  src="assets/icon/เลื่อนซ้าย.png">
      <ion-col>
        <img class="img-set" src="assets/img/tongue0-4.png">
      </ion-col>
      <ion-col>
        <img class="img-set" src="assets/img/tongue0-4.png">
      </ion-col>
      <ion-col>
        <img class="img-set" src="assets/img/tongue0-4.png">
      </ion-col>
        <img class="slide s-right"  src="assets/icon/เลื่อนขวา.png">
    </ion-row>
    <ion-row class="margin-top" justify-content-center>สรุปแล้วผู้ป่วยรายนี้ควรไปพบทันตแพทย์หรือไม่</ion-row>
    <ion-row justify-content-center>
      <ion-list padding class="hidden-list-bg" lines="none">
        <ion-radio-group radio-group [(ngModel)]="meeting" name = "meeting">
          <ion-item class="group-radio">
            <ion-label class="thai-word">ไม่จำเป็นต้องพบทันตแพทย์</ion-label>
            <ion-radio class="border-0" value="0" slot="start"></ion-radio>
          </ion-item>
          <ion-item class="group-radio">
            <ion-label class="thai-word">ควรพบทันตแพทย์ภายใน 6 เดือน</ion-label>
            <ion-radio class="border-1" value="1" slot="start"></ion-radio>
          </ion-item>
          <ion-item class="group-radio">
            <ion-label class="thai-word">ควรพบทันตแพทย์ทันที</ion-label>
            <ion-radio class="border-2" value="2" slot="start"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col><ion-button class="send-button" (click)="sendAns()" type="submit" expand="block">ส่งคำตอบ</ion-button>       </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row padding class="recheck-text">สรุปการตรวจคัดกรอง</ion-row>
  </ion-grid>
  <div class="level-tab level-0">
    ริมฝีปาก: ระดับ 0<a href="case-ex1" class="fix-button">แก้ไข</a><img class="fix-icon" src="assets/icon/แปรงสีฟัน.png">
  </div>
  <div class="level-tab level-0">
    ลิ้น: ระดับ 0<a href="case-ex1" class="fix-button">แก้ไข</a><img class="fix-icon" src="assets/icon/แปรงสีฟัน.png">
  </div>
  <div class="level-tab level-2">
    เหงือก: ระดับ 2<a href="case-ex1" class="fix-button">แก้ไข</a><img class="fix-icon" src="assets/icon/แปรงสีฟัน.png">
  </div>
  <div class="level-tab level-1">
    น้ำลาย: ระดับ 1<a href="case-ex1" class="fix-button">แก้ไข</a><img class="fix-icon" src="assets/icon/แปรงสีฟัน.png">
  </div>
  <div class="level-tab level-0">
    ฟันธรรมชาติ: ระดับ 0<a href="case-ex1" class="fix-button">แก้ไข</a><img class="fix-icon" src="assets/icon/แปรงสีฟัน.png">
  </div>
  <div class="level-tab level-0">
    ฟันปลอม: ระดับ 0<a href="case-ex1" class="fix-button">แก้ไข</a><img class="fix-icon" src="assets/icon/แปรงสีฟัน.png">
  </div>
  <div class="level-tab level-1">
    ความสะอาด: ระดับ 1<a href="case-ex1" class="fix-button">แก้ไข</a><img class="fix-icon" src="assets/icon/แปรงสีฟัน.png">
  </div>

  

</ion-content>
