<ion-tabs>

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="lesson">
      <img class="img-l" src="assets/icon/บทเรียน.png">
      <ion-label>บทเรียน</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exercise">
      <img class="img-l" src="assets/icon/logo.png">
      <ion-label>แบบฝึกหัด</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exam">
      <img class="img-l" src="assets/icon/แบบทดสอบ.png">
      <ion-label>แบบทดสอบ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="screening">
      <img class="img-l" src="assets/icon/คัดกรอง.png">
      <ion-label>คัดกรอง</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs> 
