<ion-tabs>

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="tab1" >
      <img class="img-l" src="assets/icon/บทเรียน.png">
      <ion-label>บทเรียน</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img class="img-l" src="assets/icon/logo.png">
      <ion-label>แบบฝึกหัด</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img src="assets/icon/แบบทดสอบ.png">
      <ion-label>แบบทดสอบ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <img src="assets/icon/คัดกรอง.png">
      <ion-label>คัดกรอง</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs> 
