ion-tab-bar{
    height: 10%;
}

ion-tab-button{
    --color: #061E4C;
    background-color: #4BA4E8;
    --color-selected: white;
    --ripple-color: white;
}
ion-tab-bar{
    height: 10%;
        background-color: #4BA4E8;
}
img{
    height: 60%;
}
