<ion-header>
  <ion-title>
    แบบฝึกหัด
  </ion-title>
</ion-header>

<ion-content>

<ion-grid>
  <ion-row>

    <ion-col  class="first-col">
      <ion-row justify-content-center>
        <ion-button class="icon-btn" shape="round" color="secondary">
          <img src="assets/icon/ริมฝีปาก.png">
        </ion-button>
      </ion-row>
      <ion-row class="label-bor" justify-content-center>
        ริมฝีปาก
      </ion-row>       
      <ion-row justify-content-center>
        <img class="cnt" src="assets/icon/จำนวนเคส.png"> <ion-label class="cnt_text"> 12</ion-label>
      </ion-row> 
    </ion-col>

    <ion-col>  
      <ion-row justify-content-center>
        <ion-button class="icon-btn" shape="round" color="secondary">
          <img src="assets/icon/ลิ้น.png">
        </ion-button>
      </ion-row>
      <ion-row class="label-bor" justify-content-center>
        ลิ้น
      </ion-row>       
      <ion-row justify-content-center>
        <img class="cnt" src="assets/icon/จำนวนเคส.png"> <ion-label class="cnt_text"> 36</ion-label>
      </ion-row> 
    </ion-col>

    <ion-col class="last-col">
      <ion-row justify-content-center>
        <ion-button class="icon-btn" shape="round" color="secondary">
          <img src="assets/icon/เหงือก.png">
        </ion-button>
      </ion-row>
      <ion-row class="label-bor" justify-content-center>
        เหงือก
      </ion-row>       
      <ion-row justify-content-center>
        <img class="cnt" src="assets/icon/จำนวนเคส.png"> <ion-label class="cnt_text"> 17</ion-label>
      </ion-row> 
    </ion-col>

  </ion-row>

  <ion-row>

    <ion-col  class="first-col">
      <ion-row justify-content-center>
        <ion-button class="icon-btn" shape="round" color="secondary">
          <img src="assets/icon/น้ำลาย.png">
        </ion-button>
      </ion-row>
      <ion-row class="label-bor" justify-content-center>
        น้ำลาย
      </ion-row>       
      <ion-row justify-content-center>
        <img class="cnt" src="assets/icon/จำนวนเคส.png"> <ion-label class="cnt_text"> 20</ion-label>
      </ion-row> 
    </ion-col>

    <ion-col>  
      <ion-row justify-content-center>
        <ion-button class="icon-btn" shape="round" color="secondary">
          <img src="assets/icon/ฟันธรรมชาติ.png">
        </ion-button>
      </ion-row>
      <ion-row class="label-bor text-size-s" justify-content-center>
        ฟันธรรมชาติ
      </ion-row>       
      <ion-row justify-content-center>
        <img class="cnt" src="assets/icon/จำนวนเคส.png"> <ion-label class="cnt_text"> 12</ion-label>
      </ion-row> 
    </ion-col>

    <ion-col class="last-col">
      <ion-row justify-content-center>
        <ion-button class="icon-btn" shape="round" color="secondary">
          <img src="assets/icon/ฟันเทียม.png">
        </ion-button>
      </ion-row>
      <ion-row class="label-bor" justify-content-center>
        ฟันปลอม
      </ion-row>       
      <ion-row justify-content-center>
        <img class="cnt" src="assets/icon/จำนวนเคส.png"> <ion-label class="cnt_text"> 0</ion-label>
      </ion-row> 
    </ion-col>

  </ion-row>

  <ion-row>

    <ion-col  class="first-col">
      <ion-row justify-content-center>
        <ion-button class="icon-btn" shape="round" color="secondary">
          <img src="assets/icon/แปรงสีฟัน.png">
        </ion-button>
      </ion-row>
      <ion-row class="label-bor text-size-s" justify-content-center>
        ความสะอาด
      </ion-row>       
      <ion-row justify-content-center>
        <img class="cnt" src="assets/icon/จำนวนเคส.png"> <ion-label class="cnt_text"> 12</ion-label>
      </ion-row> 
    </ion-col>

    <ion-col>  
      <ion-row justify-content-center>
        <ion-button class="icon-btn" shape="round" color="secondary">
          <img src="assets/icon/ความเจ็บปวด.png">
        </ion-button>
      </ion-row>
      <ion-row class="label-bor text-size-ss" justify-content-center>
        ความเจ็บปวด
      </ion-row>       
      <ion-row justify-content-center>
        <img class="cnt" src="assets/icon/จำนวนเคส.png"> <ion-label class="cnt_text"> 2</ion-label>
      </ion-row> 
    </ion-col>

    <ion-col class="blank-col"></ion-col>

  </ion-row>
</ion-grid>





</ion-content>
