<ion-content class="login_view">

  <ion-row justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="10">
      <form #form="ngForm" (ngSubmit)="register(form)" method="post">
        <ion-row>
          <ion-col>
            <img class="logo" src="assets/img/logo and name.png">
          </ion-col>
          <ion-col>

            <ion-radio-group value="volunteer">
              <ion-row>
                <ion-col class="career">
                  <ion-item class="box-shadow">
                    <ion-label class="label-sex">อสม.</ion-label>
                    <ion-radio slot="start" ng-model="career.volunteer" value="volunteer"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col class="career career2">
                  <ion-item class="box-shadow">
                    <ion-label class="label-sex">พยาบาล</ion-label>
                    <ion-radio slot="start" ng-model="career.nurse" value="nurse"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>

          </ion-col>
        </ion-row>
        <form #form="ngForm" (ngSubmit)="register(form)" method="post">
          <ion-row>
            <ion-col>
              <ion-input required class="box-shadow placeholder" type="text" [(ngModel)]="firstname" name="firstname"
                placeholder="ชื่อ"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input required class="box-shadow placeholder" type="text" [(ngModel)]="lastname" name="lastname"
                placeholder="สกุล">
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input required class="box-shadow placeholder" type="text" [(ngModel)]="phone" name="phone"
                placeholder="หมายเลขโทรศัพท์"></ion-input>
            </ion-col>
          </ion-row>

          <ion-radio-group [(ngModel)]="sex">
            <ion-row>
              <ion-col>
                <ion-item class="box-shadow">
                  <ion-label class="label-sex">หญิง</ion-label>
                  <ion-radio slot="start" value="หญิง"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item class="box-shadow">
                  <ion-label class="label-sex">ชาย</ion-label>
                  <ion-radio slot="start" value="ชาย"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>
          <ion-row>
            <ion-col>
              <ion-input class="box-shadow placeholder" type="text" [(ngModel)]="username" name="username"
                placeholder="ชื่อผู้ใช้">
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input required class="box-shadow placeholder" [(ngModel)]="password" type="password" ngModel
                name="password" placeholder="รหัสผ่าน"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input required class="box-shadow placeholder" type="password" ngModel name="password2"
                placeholder="ยืนยันรหัสผ่าน"></ion-input>
            </ion-col>
          </ion-row>

          <div>
            <ion-button type="submit" expand="block">ลงทะบียน</ion-button>
          </div>
        </form>
    </ion-col>
  </ion-row>



  <ion-row justify-content-center>
    <ion-label class="label-bottom">ระบบฝึกคัดกรองความผิดปกติทางทันตกรรมสำหรับ อสม. และพยาบาล</ion-label>
  </ion-row>
</ion-content>