<ion-header translucent="true">
	<ion-toolbar color="secondary">
		<ion-back-button text=""  slot="start" color="tertiary"></ion-back-button>
		<ion-title class="thai-word">ลงทะเบียน</ion-title>     
	</ion-toolbar>
  </ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid padding>
      <ion-row>
        <ion-col>
          <h6>ประเภทการใช้งาน</h6>
          <ion-list class="hidden-list-bg" lines="none">
            <ion-radio-group radio-group [(ngModel)]="career" name = "career">
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label class="thai-word">อสม.</ion-label>
                    <ion-radio value="volunteer" slot="start"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label class="thai-word">พยาบาล</ion-label>
                    <ion-radio value="nurse" slot="start"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>        
            </ion-radio-group>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h6>ข้อมูลทั่วไป</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-list  class="hidden-list-bg gender">
            <ion-item style="height: 41px;">
              <ion-select [(ngModel)]="gender" name="gender" placeholder="เพศ">
                <ion-list-header>
                  <ion-label>กรุณาเลือกเพศ</ion-label>
                </ion-list-header>
                <ion-select-option value="female">หญิง</ion-select-option>
                <ion-select-option value="male">ชาย</ion-select-option>
                <ion-select-option value="none">ไม่ระบุ</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          
        </ion-col>
        <ion-col>
          <ion-input class="thai-word" required type="text"  [(ngModel)]="firstname" name="firstname" placeholder="ชื่อ"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="thai-word" required type="text"  [(ngModel)]="lastname" name="lastname" placeholder="สกุล"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="thai-word" required type="number"  [(ngModel)]="phone" name="phone" placeholder="หมายเลขโทรศัพท์"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="thai-word" required type="text"  [(ngModel)]="username" name="username" placeholder="ชื่อผู้ใช้"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="thai-word" required type="password"  [(ngModel)]="password" name="password" placeholder="รหัสผ่าน"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="thai-word" required type="password"  [(ngModel)]="password2" name="password2" placeholder="ยืนยันรหัสผ่าน"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="regis-btn thai-word" type="submit" expand="block">ลงทะเบียน</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </form>
</ion-content>
