<ion-header translucent="true">
  <ion-toolbar color="secondary">   
    <!-- <ion-buttons collapse="true" slot="start"> -->
    <ion-buttons slot="end">
      <ion-button (click)="helpAlert()"> <img class="home-btn" src="assets/icon/วิธีใช้.png" alt="icon/howto"></ion-button>
    </ion-buttons> 
    <ion-title class="thai-word">แบบทดสอบ</ion-title>               
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid padding>
    <ion-row justify-content-center>{{ seq }}/6</ion-row>
    <ion-row>
        <label class="timer">{{ time | async }} <label class="min">นาที</label></label>
        <ion-buttons *ngIf="state === 'start' "  class="stop-button">
          <ion-button (click)="pauseTimer()"> <img class="home-btn" src="assets/icon/หยุด.png"></ion-button>
        </ion-buttons>
        <ion-buttons *ngIf="state === 'pause' "  class="pause-button">
          <ion-button (click)="continueTimer()"> <img class="home-btn" src="assets/icon/เล่นต่อ.png"></ion-button>
        </ion-buttons>
        <label class="case-info">ชาย, 57 ปี</label>
    </ion-row>
    <ion-row class="card-img" justify-content-center>
      <img [src]="src">
    </ion-row>
    <ion-row class="title">
      {{ title }}
    </ion-row>
     <ion-row>
      <ion-list class="hidden-list-bg" lines="none">
        <ion-radio-group radio-group [(ngModel)]="meeting" allow-empty-selection = "true" name = "meeting" (ionChange)="radioGroupChange($event)">
          <ion-item class="group-radio level-0">
            <ion-label class="thai-word">ระดับ 0 {{ char0 }}</ion-label>
            <ion-radio value="0" slot="start"></ion-radio>
          </ion-item>
          <ion-item class="group-radio level-1">
            <ion-label class="thai-word">ระดับ 1 {{ char1 }}</ion-label>
            <ion-radio value="1" slot="start"></ion-radio>
          </ion-item>
          <ion-item class="group-radio level-2">
            <ion-label class="thai-word">ระดับ 2 {{ char2 }}</ion-label>
            <ion-radio value="2" slot="start"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-row>
     <ion-row>
      <ion-col>
        <ion-button  *ngIf="seq > 1; else disable" color="warning" class="render-button" (click)="prevPage()" type="submit" expand="block">ย้อนกลับ</ion-button>
        <ng-template #disable>
          <ion-button disabled color="warning" class="render-button" type="submit" expand="block">ย้อนกลับ</ion-button>
        </ng-template>
      </ion-col>
      <ion-col><ion-button class="render-button" (click)="checkAns()" type="submit" expand="block">ต่อไป</ion-button>       </ion-col>
     </ion-row>
  </ion-grid>

</ion-content>
