<ion-header translucent="true">
  <ion-toolbar color="secondary">
   <ion-back-button text=""  slot="start" color="tertiary"></ion-back-button>
   <ion-title class="thai-word">ผู้ป่วยของฉัน</ion-title>     
  </ion-toolbar>
   </ion-header>
 
 <ion-content>
   <ion-grid padding>
     <ion-row>
       <b>ข้อมูลโดยสรุป</b>
     </ion-row>
     <ion-row class="mar-top">
       <ion-col size="3">
         <img src="assets/icon/จำนวนเคส.png" alt="icon/case-study">
       </ion-col>
       <ion-col class="detail">
         <b>ผู้เข้ารับการคัดกรองทั้งหมด</b>
         <h1>16 คน</h1>
         <ion-row>
           <ion-col class="first-tab level-0">11 คน</ion-col>
           <ion-col class="level-1">1 คน</ion-col>
           <ion-col class="end-tab level-2">4 คน</ion-col>
         </ion-row>
         <p class="font-xs">ข้อมูลตั้งแต่ 23/02/2562 - วันนี้</p>
       </ion-col>
     </ion-row>
     <b>ประวัติการออกตรวจคัดกรอง<br><br></b>
     <ion-row  class="case-card">
       <table>
         <tr>
           <th rowspan="2">เดือน</th>
           <th colspan="4">จำนวนผู้เข้ารับการคัดกรอง(คน)</th>
         </tr>
         <tr>
           <th>ระดับ0</th> 
           <th>ระดับ1</th>
           <th>ระดับ2</th>  
           <th>รวม</th> 
         </tr>
         <tr>
           <td>มี.ค.</td>
           <td class="bg-0">5</td>
           <td class="bg-1">0</td>
           <td class="bg-2">3</td>
           <td>8</td>
         </tr>
         <tr>
           <td>เม.ย.</td>
           <td class="bg-0">1</td>
           <td class="bg-1">1</td>
           <td class="bg-2">0</td>
           <td>2</td>
         </tr>
         <tr>
           <td>พ.ค.</td>
           <td class="bg-0">5</td>
           <td class="bg-1">0</td>
           <td class="bg-2">1</td>
           <td>6</td>
         </tr>
       </table>
     </ion-row>
     <ion-row class="emergency">
       <b>ผู้ป่วยฉุกเฉิน - 4 คน</b>
       <ion-row>
         <ion-col>
           <img src="assets/icon/male.png">
           <label>อิสระ</label>
         </ion-col>
         <ion-col>
           <img src="assets/icon/male.png">
           <label>ภูมิ</label>
         </ion-col>
         <ion-col>
           <img src="assets/icon/female.png">
           <label>สุจิรา</label>
         </ion-col>
         <ion-col>
           <img src="assets/icon/male.png">
           <label>สมศักดิ์</label>
         </ion-col>
       </ion-row>
     </ion-row>
 
 
     <ion-row  class="case-card">
       <ion-row>
       <ion-col size="8">
         <label class="case-id">อิสระ สรางค์กูล</label><label class="case-status level-2">ฉุกเฉิน</label>
         <p class="case-detail">ชาย, 55 ปี</p>
           <ion-row>
             <ion-col class="pad-0">
               <img src="assets/img/tongue0-4.png">
             </ion-col>
             <ion-col>
               <img src="assets/img/tongue0-4.png">
             </ion-col>
             <ion-col>
               <img src="assets/img/tongue0-4.png">
             </ion-col>
           </ion-row>
       </ion-col>
       <ion-col>
         <p class="lint-h-s txt-right font-xs">23/09/2562</p>
         <ion-button (click)="editInfo()" color="warning" expand="block" class="button-icon"><img src="assets/icon/แปรงสีฟัน.png" alt="icon/fix"> <label>แก้ไข</label> </ion-button>  
         <ion-button expand="block" class="button-icon"><img src="assets/icon/รายงาน.png" alt="icon/report"> <label>ส่งต่อ</label> </ion-button>  
       </ion-col> 
     </ion-row>
 
     <ion-row>
       <ion-col size="8">
         <label class="case-id">ภูมิ พิทักษ์ผล</label><label class="case-status level-2">ฉุกเฉิน</label>
         <p class="case-detail">ชาย, 64 ปี</p>
           <ion-row>
             <ion-col class="pad-0">
               <img src="assets/img/tongue0-4.png">
             </ion-col>
             <ion-col>
               <img src="assets/img/tongue0-4.png">
             </ion-col>
             <ion-col>
               <img src="assets/img/tongue0-4.png">
             </ion-col>
           </ion-row>
       </ion-col>
       <ion-col>
         <p class="lint-h-s txt-right font-xs">23/09/2562</p>
         <ion-button (click)="editInfo()" color="warning" expand="block" class="button-icon"><img src="assets/icon/แปรงสีฟัน.png" alt="icon/fix"> <label>แก้ไข</label> </ion-button>  
         <ion-button expand="block" class="button-icon"><img src="assets/icon/รายงาน.png" alt="icon/report"> <label>ส่งต่อ</label> </ion-button>  
       </ion-col> 
     </ion-row>
 
     <ion-row>
       <ion-col size="8">
         <label class="case-id">สุจิรา สุขใจ</label><label class="case-status level-2">ฉุกเฉิน</label>
         <p class="case-detail">หญิง, 60 ปี</p>
           <ion-row>
             <ion-col class="pad-0">
               <img src="assets/img/tongue0-4.png">
             </ion-col>
             <ion-col>
               <img src="assets/img/tongue0-4.png">
             </ion-col>
             <ion-col>
               <img src="assets/img/tongue0-4.png">
             </ion-col>
           </ion-row>
       </ion-col>
       <ion-col>
         <p class="lint-h-s txt-right font-xs">23/09/2562</p>
         <ion-button (click)="editInfo()" color="warning" expand="block" class="button-icon"><img src="assets/icon/แปรงสีฟัน.png" alt="icon/fix"> <label>แก้ไข</label> </ion-button>  
         <ion-button expand="block" class="button-icon"><img src="assets/icon/รายงาน.png" alt="icon/report"> <label>ส่งต่อ</label> </ion-button>  
       </ion-col> 
     </ion-row>
 
     <ion-row>
       <ion-col size="8">
         <label class="case-id">สมศักดิ์ รักษ์สกุล</label><label class="case-status level-2">ฉุกเฉิน</label>
         <p class="case-detail">ชาย, 51 ปี</p>
           <ion-row>
             <ion-col class="pad-0">
               <img src="assets/img/tongue0-4.png">
             </ion-col>
             <ion-col>
               <img src="assets/img/tongue0-4.png">
             </ion-col>
             <ion-col>
               <img src="assets/img/tongue0-4.png">
             </ion-col>
           </ion-row>
       </ion-col>
       <ion-col>
         <p class="lint-h-s txt-right font-xs">26/02/2563</p>
         <ion-button (click)="editInfo()" color="warning" expand="block" class="button-icon"><img src="assets/icon/แปรงสีฟัน.png" alt="icon/fix"> <label>แก้ไข</label> </ion-button>  
         <ion-button expand="block" class="button-icon"><img src="assets/icon/รายงาน.png" alt="icon/report"> <label>ส่งต่อ</label> </ion-button>  
       </ion-col> 
     </ion-row>
 
  
 
     </ion-row>
     
   </ion-grid>
 </ion-content>