*{
    font-family: 'Sarabun', sans-serif;
    color: #4BA4E8;
}
ion-content{
    --background: url('src/assets/img/login_bg.png') no-repeat center/cover fixed;
}
ion-title{
    text-align: left;
    color: #496AA8;
}
.home-btn{
    height: 24px;
    width: 18px;
}

.txt-right{
    text-align: right;
}
.txt-center{
    text-align: center;
}
.case-id{
    text-decoration: underline;
}
img{
    border-radius: 6px;
}
.case-card{
    background-color: white;
    border: solid 1px #4BA4E8 ;
    border-radius: 10px;
    padding-left: 5px;
    margin-top: 15px;
}
.case-card ion-row{
    margin-top: 10px;
}
.font-m{
    font-size: medium;
}
.font-xs{
    font-size: x-small;
}
.font-s{
    font-size: small;
}
.button-icon{
    height: 32px;
    border-radius: 10px;
    box-shadow: 0px 2px 1px #00000040;
}
.button-icon img{
    width: 18px;
}
.button-icon label{
    color: white;
    padding-left: 5px;
}
.lint-h-s{
    line-height: 10px;
}
.font-w-b{
    font-weight: bolder;
}
.case-id{
    margin-top: 0px;
}
.case-detail{
    font-size: small;
    line-height: 10px;
    margin-bottom: 8px;
}
.first-col{
    margin-left: 0px;
    padding-left: 0px;
}
.case-status{
    margin-left: 15px;
    padding: 2px;
    font-size: small;
    color: #061E4C;
    border-radius: 3px;
}
.level-0{
    background-color: #17F6AD;
}
.level-1{
    background-color: #FEA54C;
}
.level-2{
    background-color: #FD7878;
}
.mar-top{
    margin-top: 15px;
}
.detail{
    text-align: center;
}
.detail h1{
    line-height: 10px;
    font-weight: bolder;
    color: #496AA8;
    margin-bottom: 15px;
}
.detail ion-col{
    color: snow;
    font-weight: bold;
    font-size: smaller;
}
.first-tab{
    border-radius: 10px 0px 0px 10px;
}
.end-tab{
    border-radius: 0px 10px 10px 0px;
}
.emergency b{
    color: #FD7878;
}
.emergency img{
    margin-top: 10px;
    border-radius: 100%;
    background-color: whitesmoke;
    padding: 5px;
    border: double 4px #DCF7FC;
}
.emergency ion-col{
    font-size: smaller;
    text-align: center;
}