ion-content{    
    font-family: 'Sarabun', sans-serif;
    // font-weight: bold;
    // font-size: 1.5rem;
    --background: url('src/assets/img/login_bg.png') no-repeat center/cover fixed;
    color: #4BA4E8;
}
ion-title{
    font-family: 'Sarabun', sans-serif;
    color: #496AA8;    
}
ion-col{
    border: 1pt solid #5DBAE8;
    border-radius: 10px;
    margin: 6px;
    background-color: #FFFFFF;
}
ion-grid{
    margin: 12px;
}
.level{
    margin-top: -5px;
}
.icon-btn{
    margin: 0px;
    padding: 0px;
    background-color: white;
    height: 84px;
    width: 84px;
}
.label-bor{
    border-bottom: 0.5pt solid #5DBAE8;
    margin: 5px 8px 5px 8px;
    color: #4BA4E8;
}
.blank-col{
    background-color: transparent;
    border: transparent;
}
.text-size-s{
    font-size: 0.8em;
    margin-bottom: 10px;
}
.text-size-ss{
    font-size: 0.78em;
    margin-bottom: 10.4px;
}

.menu-btn{
    width: 36px;
    height: 32px;
    margin-right: 16px;
    color: white;
}