<ion-header translucent="true">
  <ion-toolbar color="secondary">   
    <ion-menu-button color="tertiary" slot="start" autoHide="false"></ion-menu-button>          
    <ion-title class="thai-word">PRACTEETH</ion-title>     
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>

    <ion-col  class="first-col">
      <ion-row justify-content-center>
        <ion-button (click) ="lesson1()" class="icon-btn" shape="round" color="secondary">
          <img src="assets/icon/ริมฝีปาก.png">
        </ion-button>
      </ion-row>
      <ion-row class="label-bor" justify-content-center>
        ริมฝีปาก
      </ion-row>       
      <ion-row justify-content-center>
        <img *ngIf="less_1 === 'ไม่เคยเรียน' " class="level" src="assets/icon/ระดับ0.png">
        <img *ngIf="less_1 === 'เรียนถึงระดับ 1' " class="level" src="assets/icon/ระดับ1.png">
        <img *ngIf="less_1 === 'เรียนถึงระดับ 2' " class="level" src="assets/icon/ระดับ2.png">
        <img *ngIf="less_1 === 'เรียนจบบทแล้ว' " class="level" src="assets/icon/ระดับ3.png">
        <!-- <img class="level" src="assets/icon/ระดับ0.png"> -->
      </ion-row> 
    </ion-col>

    <ion-col>  
      <ion-row justify-content-center>
        <ion-button (click) ="lesson2()" class="icon-btn" shape="round" color="secondary">
          <img src="assets/icon/ลิ้น.png">
        </ion-button>
      </ion-row>
      <ion-row class="label-bor" justify-content-center>
        ลิ้น
      </ion-row>       
      <ion-row justify-content-center>
        <img *ngIf="less_2 === 'ไม่เคยเรียน' " class="level" src="assets/icon/ระดับ0.png">
        <img *ngIf="less_2 === 'เรียนถึงระดับ 1' " class="level" src="assets/icon/ระดับ1.png">
        <img *ngIf="less_2 === 'เรียนถึงระดับ 2' " class="level" src="assets/icon/ระดับ2.png">
        <img *ngIf="less_2 === 'เรียนจบบทแล้ว' " class="level" src="assets/icon/ระดับ3.png">
      </ion-row> 
    </ion-col>

    <ion-col class="last-col">
      <ion-row justify-content-center>
        <ion-button (click) ="lesson3()" class="icon-btn" shape="round" color="secondary">
          <img src="assets/icon/เหงือก.png">
        </ion-button>
      </ion-row>
      <ion-row class="label-bor" justify-content-center>
        เหงือก
      </ion-row>       
      <ion-row justify-content-center>
        <img *ngIf="less_3 === 'ไม่เคยเรียน' " class="level" src="assets/icon/ระดับ0.png">
        <img *ngIf="less_3 === 'เรียนถึงระดับ 1' " class="level" src="assets/icon/ระดับ1.png">
        <img *ngIf="less_3 === 'เรียนถึงระดับ 2' " class="level" src="assets/icon/ระดับ2.png">
        <img *ngIf="less_3 === 'เรียนจบบทแล้ว' " class="level" src="assets/icon/ระดับ3.png">
      </ion-row> 
    </ion-col>

  </ion-row>

  <ion-row>

    <ion-col  class="first-col">
      <ion-row justify-content-center>
        <ion-button (click) ="lesson4()" class="icon-btn" shape="round" color="secondary">
          <img src="assets/icon/น้ำลาย.png">
        </ion-button>
      </ion-row>
      <ion-row class="label-bor" justify-content-center>
        น้ำลาย
      </ion-row>       
      <ion-row justify-content-center>
        <img *ngIf="less_4 === 'ไม่เคยเรียน' " class="level" src="assets/icon/ระดับ0.png">
        <img *ngIf="less_4 === 'เรียนถึงระดับ 1' " class="level" src="assets/icon/ระดับ1.png">
        <img *ngIf="less_4 === 'เรียนถึงระดับ 2' " class="level" src="assets/icon/ระดับ2.png">
        <img *ngIf="less_4 === 'เรียนจบบทแล้ว' " class="level" src="assets/icon/ระดับ3.png">
      </ion-row> 
    </ion-col>

    <ion-col>  
      <ion-row justify-content-center>
        <ion-button (click) ="lesson5()" class="icon-btn" shape="round" color="secondary">
          <img src="assets/icon/ฟันธรรมชาติ.png">
        </ion-button>
      </ion-row>
      <ion-row class="label-bor text-size-s" justify-content-center>
        ฟันธรรมชาติ
      </ion-row>       
      <ion-row justify-content-center>
        <img *ngIf="less_5 === 'ไม่เคยเรียน' " class="level" src="assets/icon/ระดับ0.png">
        <img *ngIf="less_5 === 'เรียนถึงระดับ 1' " class="level" src="assets/icon/ระดับ1.png">
        <img *ngIf="less_5 === 'เรียนถึงระดับ 2' " class="level" src="assets/icon/ระดับ2.png">
        <img *ngIf="less_5 === 'เรียนจบบทแล้ว' " class="level" src="assets/icon/ระดับ3.png">
      </ion-row> 
    </ion-col>

    <ion-col class="last-col">
      <ion-row justify-content-center>
        <ion-button (click) ="lesson6()" class="icon-btn" shape="round" color="secondary">
          <img src="assets/icon/ฟันเทียม.png">
        </ion-button>
      </ion-row>
      <ion-row class="label-bor" justify-content-center>
        ฟันเทียม
      </ion-row>       
      <ion-row justify-content-center>
        <img *ngIf="less_6 === 'ไม่เคยเรียน' " class="level" src="assets/icon/ระดับ0.png">
        <img *ngIf="less_6 === 'เรียนถึงระดับ 1' " class="level" src="assets/icon/ระดับ1.png">
        <img *ngIf="less_6 === 'เรียนถึงระดับ 2' " class="level" src="assets/icon/ระดับ2.png">
        <img *ngIf="less_6 === 'เรียนจบบทแล้ว' " class="level" src="assets/icon/ระดับ3.png">
      </ion-row> 
    </ion-col>

  </ion-row>

  <ion-row>

    <ion-col  class="first-col">
      <ion-row justify-content-center>
        <ion-button (click) ="lesson7()" class="icon-btn" shape="round" color="secondary">
          <img src="assets/icon/แปรงสีฟัน.png">
        </ion-button>
      </ion-row>
      <ion-row class="label-bor text-size-s" justify-content-center>
        ความสะอาด
      </ion-row>       
      <ion-row justify-content-center>
        <img *ngIf="less_7 === 'ไม่เคยเรียน' " class="level" src="assets/icon/ระดับ0.png">
        <img *ngIf="less_7 === 'เรียนถึงระดับ 1' " class="level" src="assets/icon/ระดับ1.png">
        <img *ngIf="less_7 === 'เรียนถึงระดับ 2' " class="level" src="assets/icon/ระดับ2.png">
        <img *ngIf="less_7 === 'เรียนจบบทแล้ว' " class="level" src="assets/icon/ระดับ3.png">
      </ion-row> 
    </ion-col>

    <ion-col>  
      <ion-row justify-content-center>
        <ion-button (click) ="lesson8()" class="icon-btn" shape="round" color="secondary">
          <img src="assets/icon/ความเจ็บปวด.png">
        </ion-button>
      </ion-row>
      <ion-row class="label-bor text-size-ss" justify-content-center>
        ความเจ็บปวด
      </ion-row>       
      <ion-row justify-content-center>
        <img *ngIf="less_8 === 'ไม่เคยเรียน' " class="level" src="assets/icon/ระดับ0.png">
        <img *ngIf="less_8 === 'เรียนถึงระดับ 1' " class="level" src="assets/icon/ระดับ1.png">
        <img *ngIf="less_8 === 'เรียนถึงระดับ 2' " class="level" src="assets/icon/ระดับ2.png">
        <img *ngIf="less_8 === 'เรียนจบบทแล้ว' " class="level" src="assets/icon/ระดับ3.png">
      </ion-row> 
    </ion-col>


    <ion-col class="blank-col"></ion-col>

  </ion-row>
</ion-grid>

</ion-content>