<ion-header translucent="true">
  <ion-toolbar color="secondary">   
    <!-- <ion-buttons collapse="true" slot="start"> -->
    <ion-buttons slot="start">
      <ion-button> <img class="home-btn" src="assets/icon/เลื่อนซ้าย.png" alt="icon/screen"></ion-button>
    </ion-buttons> 
    <ion-title class="thai-word">คัดกรอง</ion-title>               
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid padding>
    <ion-row>
      <b class="header-page">การเก็บภาพถ่ายช่องปาก</b>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col><img class="img-info" src="assets/img/tongue0-4.png"></ion-col>
      <ion-col><img class="img-info" src="assets/img/tongue0-4.png"></ion-col>
      <ion-col><img class="img-info" src="assets/img/tongue0-4.png"></ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col><img class="img-info" src="assets/img/tongue0-4.png"></ion-col>
      <ion-col><img class="img-info" src="assets/img/tongue0-4.png"></ion-col>
      <ion-col><img class="img-info" src="assets/img/tongue0-4.png"></ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col><img class="img-info" src="assets/img/tongue0-4.png"></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row justify-content-center>7/7 รูป</ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click) ="startScreen()" class="next-button" type="submit" expand="block">เริ่มคัดกรอง</ion-button>
      </ion-col>
    </ion-row>
          
    <div class="posi-btm">
      <img class="tips-img" src="assets/icon/logowithshadow.png">
      <div class="tips-box">
        <p class="tips">ควรคำนึงถึงลักษณะความผิดปกติ 7 อย่าง ได้แก่ ริมฝีปาก ลิ้น เหงือก ฟันธรรมชาติ น้ำลาย ฟันเทียม และความสะอาด</p>
      </div>
    </div>   
  </ion-grid>
  
</ion-content>
