*{
    font-family: 'Sarabun', sans-serif;
    color: #061E4C;   
  }
  ion-title{
    text-align: left;
    padding-left: 20pt;
    font-size: 1.3em;
    color: #061E4C;
    background-color: #DCF7FC;
    height: 50px;
  }
  ion-content{
    --background: url('src/assets/img/login_bg.png') no-repeat center/cover fixed;
}
.blank{
  //  height: 50px;
}
.card{
border: 1pt solid #5DBAE8;
border-radius: 10px;
border-top-left-radius: 50px ;
border-bottom-left-radius: 50px ;
background-color: white;
box-shadow: 0px 3px 0px #00000040;
height: 60px;
}
.card-content{
    padding: 12px;
    font-weight: bolder;
}
.card-img{
background-color: #5DBAE8;
border: 1pt solid #5DBAE8;
border-radius: 100%;
margin-left: -8px;
margin-top: -10px;
width: 64px;
height: 64px;
}
.card-img img{
   border-radius: 100%;
   width: 60px;
   height: 60px;
}

  ion-grid{
   margin: 0px 12px;
  }
  .level-tab{
    width: 100%;
    height: 50px;
    margin: 10px 0px 10px 0px;
    padding-top: 15px;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}
.level-h{
    margin-left: 15px;
    color: #5DBAE8;
}
.level-0{
    background-color: #17F6AD;
}
.level-1{
    background-color: #FEA54C;
}
.level-2{
    background-color: #FD7878;
}
ion-button, .box-shadow{
    box-shadow: 0px 3px 5px #00000040;
    border-radius: 10px;
    color: white;
    margin-top: 36px;
}