<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="level-tab">แบบทดสอบ-ระดับปานกลาง</ion-card-subtitle>
      <ion-card-title>กรณีทดสอบ</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      ต่อไปนี้จะเป็นการทดสอบความรู้<br>
      โดยเราจะสมมติผู้เข้ารับการคัดกรองขึ้น <br>แล้วให้ท่านเลือกตอบความผิดปกติแต่ละด้าน<br>
      ระบบจะจับเวลาและประเมินท่าน<br>เมื่อทำแบบทดสอบสำเร็จแล้ว
      <ion-label class="flip-t"><br>ขอให้ท่านโชคดี มีสติสำหรับแบบทดสอบ</ion-label>  

    <ion-row>
      <ion-col>
        <ion-button color="warning" (click)="goHome()">ยังไม่พร้อม</ion-button>
        <ion-button (click)="nextPage()">เริ่มเลย</ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>


</ion-content>
