<ion-header translucent="true">
	<ion-toolbar color="secondary">
		<ion-back-button text="" slot="start" color="tertiary"></ion-back-button>
		<ion-title class="thai-word">บทเรียน - {{ title }}</ion-title>     
	</ion-toolbar>
  </ion-header>
<ion-content>
  
 	<div class="level-tab level-0">
		{{ title }} - ระดับ 0 สุขภาพดี
	</div>
  <h4 class="level-h">ลักษณะสำคัญ</h4>
  <ion-grid>
    <ion-row class="card">
      <ion-col  class="col-1" size="3">
      <ion-row class="card-img" justify-content-center>
        <img src="assets/img/tongue0-1.png">
      </ion-row>
      </ion-col>
      <ion-col  class="col-2">
      <ion-row class="card-content">
          {{ char0_split0 }}
      </ion-row>    
      </ion-col>    
    </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="card">
        <ion-col  class="col-1" size="3">
        <ion-row class="card-img" justify-content-center>
          <img src="assets/img/tongue0-2.png">
        </ion-row>
        </ion-col>
        <ion-col  class="col-2">
        <ion-row class="card-content">
            {{ char0_split1 }}
        </ion-row>    
        </ion-col>    
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col class="case-img">
          <img src=""> 
        </ion-col>    
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="next-button" (click)="nextPage()" type="submit" expand="block">ต่อไป</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  
  
  </ion-content>