<ion-content>
  <ion-grid>
    <ion-row padding>
      <ion-col size="9" class="img-bg">
        <ion-row class="card-img" justify-content-center>
          <img [src]=src>
        </ion-row>
        <ion-row justify-content-center name="cnt-img">{{ seq }} จาก 5</ion-row>
      </ion-col>
      <ion-col size="3" class="level-1-bg">
        <ion-row class="btn-row" justify-content-center>
              <img *ngIf="state === 'start' "(click) ="pauseTimer()" class="btn" src="assets/icon/หยุด.png">
              <img *ngIf="state === 'pause' "(click) ="continueTimer()" class="btn" src="assets/icon/เล่นต่อ.png">
              <img (click) ="nextTimer()" class="btn" src="assets/icon/เล่นต่อเร็วๆ.png">
              <img class="btn" src="assets/icon/วิธีใช้.png">
        </ion-row>
        <ion-row justify-content-center>
          <h1 name="lesson-name">{{ title }}</h1>
        </ion-row>
        <ion-row justify-content-center>
          <h2>ระดับ</h2>
        </ion-row>
        <ion-row justify-content-center>
          <h1 name="level">1</h1>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col size="3"></ion-col>
          <ion-col>
              <div class="timmer">
                <h2>{{ time | async }}<label>วิ</label></h2>
              </div>
          </ion-col>
          <ion-col size="3"></ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
