<ion-header translucent="true">
  <ion-toolbar color="secondary">   
    <!-- <ion-buttons collapse="true" slot="start"> -->
    <ion-buttons slot="start">
      <ion-button> <img class="home-btn" src="assets/icon/คัดกรอง.png" alt="icon/screen"></ion-button>
    </ion-buttons> 
    <ion-title class="thai-word">คัดกรอง</ion-title>               
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
   <ion-row>
      <ion-col  class="first-col">
        <ion-row justify-content-center>
          <ion-button (click)="addPatient()" class="icon-btn" shape="round" color="secondary">
            <img src="assets/icon/คัดกรอง.png">
          </ion-button>
        </ion-row>
        <ion-row class="label-bor" justify-content-center>
          คัดกรอง
        </ion-row>       
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col  class="first-col">
      <ion-row justify-content-center>
        <ion-button (click)="lookUp()" class="icon-btn" shape="round" color="secondary">
          <img src="assets/icon/ผู้ป่วยของฉัน.png">
        </ion-button>
      </ion-row>
      <ion-row class="label-bor" justify-content-center>
        ผู้ป่วยของฉัน  12  คน
      </ion-row>       
    </ion-col>
</ion-row>
  
</ion-grid>
</ion-content>
