<ion-header>
    <ion-title>
      คัดกรองผู้ป่วย
    </ion-title>
</ion-header>

<ion-content>
  <ion-grid>
   <ion-row>
      <ion-col  class="first-col">
        <ion-row justify-content-center>
          <ion-button class="icon-btn" shape="round" color="secondary">
            <img src="assets/icon/คัดกรอง.png">
          </ion-button>
        </ion-row>
        <ion-row class="label-bor" justify-content-center>
          คัดกรอง
        </ion-row>       
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col  class="first-col">
      <ion-row justify-content-center>
        <ion-button class="icon-btn" shape="round" color="secondary">
          <img src="assets/icon/ผู้ป่วยของฉัน.png">
        </ion-button>
      </ion-row>
      <ion-row class="label-bor" justify-content-center>
        ผู้ป่วยของฉัน  12  คน
      </ion-row>       
    </ion-col>
</ion-row>
  
</ion-grid>
</ion-content>
